<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student3.myfavouritepet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activityes.Room" android:label="Мой любимый питомец">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activityes.School" android:label="Школа"></activity>
        <activity android:name=".Activityes.MainActivity" android:label="Создание питомца"></activity>
        <activity android:name=".Activityes.MathActivity" android:label="Математика"></activity>
        <activity android:name=".Activityes.PhisActivityFirstLevel" android:label="Физика"></activity>
        <activity android:name=".Activityes.EnglishActivity" android:label="Английский язык"></activity>
        <activity android:name=".Activityes.RusActivity_anagrams" android:label="Анаграммы"></activity>
        <activity android:name=".Activityes.MathActivityDescrim" android:label="Математика"></activity>
        <activity android:name=".Activityes.PhisActivityTasks" android:label="Задачи"></activity>
        <activity android:name=".Activityes.RusActivity" android:label="Русский язык"></activity>
        <activity android:name=".Activityes.PhisActivity" android:label="Физика"></activity>
        <activity android:name=".Activityes.MathActivityExamples" android:label="Математика"></activity>
        <activity android:name=".Activityes.StorageActivity" android:label="Склад"></activity>
        <activity android:name=".Activityes.HeartActivity" android:label="Склад"></activity>
        <activity android:name=".HelpClasses.Animation.PrepareForAnimation"></activity>
    </application>

</manifest>